# **Explore Data**

This notebook contains code for exploring the dataset

This project requires Python 3.7 or above:

In [ ]:
import sys
assert sys.version_info >= (3, 7)

It also requires Scikit-Learn ≥ 1.0.1:

In [ ]:
from packaging import version
import sklearn
assert version.parse(sklearn.__version__) >= version.parse("1.0.1")

## Download the Data

In [1]:
# Load the Kaggle dataset from the data directory, download it if necessary
import os
import pandas as pd
from pathlib import Path


def load_kaggle_nfl_dataset(dataset_owner_name: str,
                            dataset_name: str, filename: str,
                            chunksize: int = 100000
                            ) -> pd.DataFrame:
    '''
    Loads the Kaggle dataset from the file system.
    If the dataset is not present, it is downloaded from Kaggle.
    Returns the dataset as a pandas DataFrame.
    Additionally, the dataset is filtered to only include data from before 2010.
    '''
    dataset_path = Path(f"datasets/{dataset_name}.zip")
    if not dataset_path.is_file():
        os.system(f"kaggle datasets download -d {dataset_owner_name}/{dataset_name} -p datasets")
        os.system(f"unzip datasets/{dataset_name}.zip -d datasets/{dataset_name}")

    path = f"datasets/{dataset_name}/{filename}"
    df_chunks = pd.read_csv(Path(path), chunksize=chunksize, encoding='utf-8')
    df = pd.concat(df_chunks)
    return df

dataset_owner_name = 'maxhorowitz'
dataset_name = 'nflplaybyplay2009to2016'
filename = 'NFL Play by Play 2009-2018 (v5).csv'
nfl_df = load_kaggle_nfl_dataset(dataset_owner_name, dataset_name, filename)[:1000]

/tmp/ipykernel_2263/3205702177.py:26: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(df_chunks)
/tmp/ipykernel_2263/3205702177.py:26: DtypeWarning: Columns (166,167,168,169,174,175,178,179,182,183,188,189,194,195,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(df_chunks)
/tmp/ipykernel_2263/3205702177.py:26: DtypeWarning: Columns (166,167,168,169,174,175,178,179,182,183,188,189,194,195,203,204,205,226,227,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(df_chunks)
/tmp/ipykernel_2263/3205702177.py:26: DtypeWarning: Columns (166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(df_chunks)
/tmp/ipykernel_2263/3205702177.py:26: DtypeWarning: Columns (166,167,168,169,174,175,178,179,182,183,188,189,190,191,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(df_chunks)

## Take a Quick Look at the Data Structure

In [2]:
nfl_df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [3]:
nfl_df.tail()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
995,2979,2009091306,IND,JAC,JAC,away,IND,IND,7.0,2009-09-13,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
996,2996,2009091306,IND,JAC,JAC,away,IND,IND,2.0,2009-09-13,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
997,3014,2009091306,IND,JAC,IND,home,JAC,JAC,30.0,2009-09-13,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
998,3036,2009091306,IND,JAC,IND,home,JAC,IND,80.0,2009-09-13,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
999,3057,2009091306,IND,JAC,IND,home,JAC,IND,80.0,2009-09-13,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [4]:
nfl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 255 entries, play_id to defensive_extra_point_conv
dtypes: float64(135), int64(18), object(102)
memory usage: 1.9+ MB

In [5]:
nfl_df.sample(200).describe()

,play_id,game_id,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,qtr,...,assist_tackle_4_team,fumble_recovery_1_yards,fumble_recovery_2_yards,return_yards,penalty_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
count,200.00000,2.000000e+02,195.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,0.0,3.000000,0.0,200.000000,8.000000,200.0,195.0,195.0,195.0,195.0
mean,2007.71000,2.009091e+09,53.697436,413.300000,818.300000,1727.300000,0.025000,12.145000,0.055000,2.550000,...,NaN,1.666667,NaN,1.845000,5.750000,0.0,0.0,0.0,0.0,0.0
std,1175.35756,1.319634e+02,25.406910,292.063668,541.167248,1019.147974,0.156517,7.207895,0.228552,1.141937,...,NaN,2.886751,NaN,7.904644,3.150964,0.0,0.0,0.0,0.0,0.0
min,68.00000,2.009091e+09,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,NaN,0.000000,NaN,-3.000000,2.000000,0.0,0.0,0.0,0.0,0.0
25%,902.00000,2.009091e+09,34.000000,115.750000,357.000000,835.000000,0.000000,5.000000,0.000000,2.000000,...,NaN,0.000000,NaN,0.000000,4.500000,0.0,0.0,0.0,0.0,0.0
50%,2052.00000,2.009091e+09,58.000000,415.500000,822.500000,1800.500000,0.000000,11.000000,0.000000,2.000000,...,NaN,0.000000,NaN,0.000000,5.000000,0.0,0.0,0.0,0.0,0.0
75%,2996.50000,2.009091e+09,73.000000,675.500000,1245.000000,2630.750000,0.000000,18.000000,0.000000,4.000000,...,NaN,2.500000,NaN,0.000000,6.250000,0.0,0.0,0.0,0.0,0.0
max,4209.00000,2.009091e+09,96.000000,900.000000,1800.000000,3593.000000,1.000000,26.000000,1.000000,5.000000,...,NaN,5.000000,NaN,80.000000,11.000000,0.0,0.0,0.0,0.0,0.0